numpy
keras
tensorflow
sklearn
scipy
pandas
scikit-learn
opencv-python
opencv-contrib-python
implicit==0.2.13
ipykernel==4.5.2
ipyparallel==6.0.2
ipython==5.3.0
ipython-genutils==0.2.0
ipywidgets==6.0.0
jupyter==1.0.0
jupyter-client==5.0.0
jupyter-console==5.1.0
jupyter-core==4.3.0